@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height: 100%;
}

body { height: 100%; color: $dark; font-family: $font; overflow-x: hidden;}

h1, h2, h3, h4, h5, h6 { margin: 0; }

.section-heading {
  h1, h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
  }

  &__desc {
    margin-top: 35px;

    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;

      span {
        .strong {
          font-weight: 600;
          line-height: 30px;
        }

        .uppercase {
          text-transform: uppercase;
        }
      }
    }
  }

  &.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // Begin text before title
  &__naming {
    letter-spacing: 0.1em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-bottom: 15px;
    margin-left: 98px;

    &.center {
      margin-left: 0;
    }

    &:before {
      @include pseudo;
      width: 68px;
      height: 1px;
      background-color: $dark;
      top: 50%;
      transform: translateY(-50%);
      left: -98px;
    }
  }    
  // End text before title
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; font-family: $font; color: $dark; }

*, *:before, *:after { box-sizing: border-box; }

// Begin text colors
.yellow {
  color: $mikadoYellow;
}
// End text colors

.row {
  width: 100%;
}

.text-right {
  text-align: right;
}

//Модули
@import "modules/modules";
