section.actions
  .actions__bg

  .container
    .section-heading
      .section-heading__naming действующие акции
      h2 Смотрите наши<br>действующие <span class="yellow">акции</span>
    .actions__slider
      .actions__swiper-container
        .swiper-wrapper
            .swiper-slide.actions__slide
              .actions__slide-content
                .actions__slide-img-wr
                  img.actions__slide-img(src="./static/images/actions/girls.jpg", alt="")
                  .actions__slide-date до 25.10.2019
                  .actions__slide-more
                    .actions__slide-more-text Подробнее
                    .actions__slide-more-icon
                      include ../../static/images/svg/loupe.svg
                .actions__slide-desc
                  h3 В чем подвох?
                  p Оплати один сеанс лазерной эпиляции любых зон, приходи вместе с подругой и сделай процедуру вдвоем на...
              .actions__slide-popup
                | popup
            .swiper-slide.actions__slide
              .actions__slide-content
                .actions__slide-img-wr
                  img.actions__slide-img(src="./static/images/actions/armenian-girl.jpg", alt="")
                  .actions__slide-date до 10.10.2019
                  .actions__slide-more
                    .actions__slide-more-text Подробнее
                    .actions__slide-more-icon
                      include ../../static/images/svg/loupe.svg
                .actions__slide-desc
                  h3 Free zone
                  p Оплати прямо сейчас всего 2 процедуры лазерной эпиляции и приходи на третью процедуру этой зоны «на халяву»...
              .actions__slide-popup
                | popup
            .swiper-slide.actions__slide
              .actions__slide-content
                .actions__slide-img-wr
                  img.actions__slide-img(src="./static/images/actions/legs.jpg", alt="")
                  .actions__slide-date до 25.06.2019
                  .actions__slide-more
                    .actions__slide-more-text Подробнее
                    .actions__slide-more-icon
                      include ../../static/images/svg/loupe.svg
                .actions__slide-desc
                  h3 All right (Все справа)
                  p Сделай эпиляцию любой зоны правой половины тела абсолютно бесплатно. Без каких-то доплат и обязательств...
              .actions__slide-popup
                | popup
            .swiper-slide.actions__slide
              .actions__slide-content
                .actions__slide-img-wr
                  img.actions__slide-img(src="./static/images/actions/girls.jpg", alt="")
                  .actions__slide-date до 25.10.2019
                  .actions__slide-more
                    .actions__slide-more-text Подробнее
                    .actions__slide-more-icon
                      include ../../static/images/svg/loupe.svg
                .actions__slide-desc
                  h3 В чем подвох?
                  p Оплати один сеанс лазерной эпиляции любых зон, приходи вместе с подругой и сделай процедуру вдвоем на...
              .actions__slide-popup
                | popup
            .swiper-slide.actions__slide
              .actions__slide-content
                .actions__slide-img-wr
                  img.actions__slide-img(src="./static/images/actions/girls.jpg", alt="")
                  .actions__slide-date до 25.10.2019
                  .actions__slide-more
                    .actions__slide-more-text Подробнее
                    .actions__slide-more-icon
                      include ../../static/images/svg/loupe.svg
                .actions__slide-desc
                  h3 В чем подвох?
                  p Оплати один сеанс лазерной эпиляции любых зон, приходи вместе с подругой и сделай процедуру вдвоем на...
              .actions__slide-popup
                | popup
        .swiper-button-prev.actions__swiper-button-prev
        .swiper-button-next.actions__swiper-button-next