section.faq
  .container
    .section-heading.center
      .section-heading__naming Часто задаваемые вопросы
      h2 Отвечаем на <span class="yellow">самые</span><br><span class="yellow">популярные</span> вопросы
    .faq__row
      .faq__col
        .faq__item.faq-item.active
          .faq-item__head
            h3 Какое оборудование?
            .faq-item__arrow-wr
              include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Новый, современный диодный лазер Apolomed 2019 года выпуска, который имеет две волны и все достоинства александритового (755 нм) и диодного (808 нм) лазера.
            
        .faq__item.faq-item
          .faq-item__head
            h3 Какое оборудование?
            .faq-item__arrow-wr
              include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Новый, современный диодный лазер Apolomed 2019 года выпуска, который имеет две волны и все достоинства александритового (755 нм) и диодного (808 нм) лазера.

        .faq__item.faq-item
          .faq-item__head
            h3 Какое оборудование?
            .faq-item__arrow-wr
              include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Новый, современный диодный лазер Apolomed 2019 года выпуска, который имеет две волны и все достоинства александритового (755 нм) и диодного (808 нм) лазера.

        .faq__item.faq-item
          .faq-item__head
            h3 Какое оборудование?
            .faq-item__arrow-wr
              include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Новый, современный диодный лазер Apolomed 2019 года выпуска, который имеет две волны и все достоинства александритового (755 нм) и диодного (808 нм) лазера.
      .faq__col
        .faq__item.faq-item
          .faq-item__head
            h3 Какое оборудование?
            .faq-item__arrow-wr
              include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Новый, современный диодный лазер Apolomed 2019 года выпуска, который имеет две волны и все достоинства александритового (755 нм) и диодного (808 нм) лазера.
            
        .faq__item.faq-item
          .faq-item__head
            h3 Какое оборудование?
            .faq-item__arrow-wr
              include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Новый, современный диодный лазер Apolomed 2019 года выпуска, который имеет две волны и все достоинства александритового (755 нм) и диодного (808 нм) лазера.

        .faq__item.faq-item
          .faq-item__head
            h3 Какое оборудование?
            .faq-item__arrow-wr
              include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Новый, современный диодный лазер Apolomed 2019 года выпуска, который имеет две волны и все достоинства александритового (755 нм) и диодного (808 нм) лазера.

        .faq__item.faq-item
          .faq-item__head
            h3 Какое оборудование?
            .faq-item__arrow-wr
              include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Новый, современный диодный лазер Apolomed 2019 года выпуска, который имеет две волны и все достоинства александритового (755 нм) и диодного (808 нм) лазера.