section.faq#faq
  .container
    .section-heading.center
      .section-heading__naming Часто задаваемые вопросы
      h2 Отвечаем на <span class="yellow">самые</span><br><span class="yellow">популярные</span> вопросы
    .faq__row
      .faq__col
        .faq__item.faq-item.active
          .faq-item__head
            h3 Какие гарантии?
            .faq-item__arrow-wr
              .faq-item__arrow-bg-out
              .faq-item__arrow
                include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Гарантированное уменьшение волос от 20 до 60 процентов уже после первой процедуры.
            
        .faq__item.faq-item
          .faq-item__head
            h3 Безопасна и безболезненна ли процедура?
            .faq-item__arrow-wr
              .faq-item__arrow-bg-out
              .faq-item__arrow
                include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p На нашем лазере вы никогда не получите побочных эффектов. Больно ли? Шугаринг больнее однозначно, а у нас легкое покалывание и холодок сапфирового наконечника.

        .faq__item.faq-item
          .faq-item__head
            h3 Когда понадобиться повторная процедура?
            .faq-item__arrow-wr
              .faq-item__arrow-bg-out
              .faq-item__arrow
                include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Не скоро – через 6-8 недель.

        .faq__item.faq-item
          .faq-item__head
            h3 Сколько времени занимаем одна процедура?
            .faq-item__arrow-wr
              .faq-item__arrow-bg-out
              .faq-item__arrow
                include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Смотря что делаете) Усики – 15 минут, ноги полностью – 1 час
      .faq__col
        .faq__item.faq-item
          .faq-item__head
            h3 Как ухаживать за кожей после лазерной эпиляции? И сколько заживает?
            .faq-item__arrow-wr
              .faq-item__arrow-bg-out
              .faq-item__arrow
                include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Нечему заживать, у вас не будет повреждений кожи. В первый день рекомендуется нанести увлажняющий спрей Пантенол.
            
        .faq__item.faq-item
          .faq-item__head
            h3 Как часто у вас проходят акции?
            .faq-item__arrow-wr
              .faq-item__arrow-bg-out
              .faq-item__arrow
                include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p У нас всегда есть чем удивить. Следите за нашими анонсами в соц. сетях и на этом сайте.

        .faq__item.faq-item
          .faq-item__head
            h3 Как долго мы делаем лазерную эпиляцию?
            .faq-item__arrow-wr
              .faq-item__arrow-bg-out
              .faq-item__arrow
                include ../../static/images/svg/arrow-bottom.svg
          .faq-item__content
            p Топ-мастера имеют опыт более 5-ти лет.