section.price#catalog
  .price__bg

  .container.price__container
    .section-heading.center
      .section-heading__naming Цены на все виды процедур
      h2 <span class="yellow">Почувствуйте</span> выгоду от<br>наших цен на лазерную эпиляцию
      .section-heading__desc
        p Мы стараемся сделать самые доступные цены, чтобы вы не чувствовали<br>разницу между лазерной эпиляцией и посещением фитнеса.
    .price__content
      .price__pricing-col
        .price__tabs
          .price__tab.active
            button.price__tab-btn(type="button", data-part="face") Лицо
          .price__tab
            button.price__tab-btn(type="button", data-part="hands") Руки
          .price__tab
            button.price__tab-btn(type="button", data-part="body") Тело
          .price__tab
            button.price__tab-btn(type="button", data-part="intim") Интим. зоны
          .price__tab
            button.price__tab-btn(type="button", data-part="lags") Ноги
        .price__tables
          table.price__table#tableFace(cellspacing="0" cellpadding="0")
            thead
              tr
                th Наименование<br>процедуры
                th Длительность<br>мин.
                th Девушки<br>грн.
                th Мужчины<br>грн.
            tbody
              tr
                td Виски
                td 15
                td 100
                td 130
              tr
                td Губа верхняя
                td 15
                td 100
                td 130
              tr
                td Виски
                td 20
                td 120
                td 150
              tr
                td Шея спереди
                td 30
                td 160
                td 200
              tr
                td Шея сзади
                td 20
                td 160
                td 200
              tr
                td Подбородок
                td 20
                td 180
                td 130
              tr
                td Лицо полностью
                td 30
                td 400
                td 480
          table.price__table#tableHands(cellspacing="0" cellpadding="0")
            thead
              tr
                th Наименование<br>процедуры
                th Длительность<br>мин.
                th Девушки<br>грн.
                th Мужчины<br>грн.
            tbody
              tr
                td Кисти рук
                td 15
                td 160
                td 200
              tr
                td Подмышки
                td 15
                td 200
                td 240
              tr
                td Плечи
                td 20
                td 250
                td 300
              tr
                td Предплечья
                td 30
                td 350
                td 420
              tr
                td Руки 1000 имп.
                td 20
                td 500
                td 600
              tr
                td Руки +100 имп.
                td 20
                td 50
                td 60
          table.price__table#tableBody(cellspacing="0" cellpadding="0")
            thead
              tr
                th Наименование<br>процедуры
                th Длительность<br>мин.
                th Девушки<br>грн.
                th Мужчины<br>грн.
            tbody
              tr
                td Ареолы сосков
                td 15
                td 120
                td 150
              tr
                td Белая линия живота
                td 15
                td 160
                td 200
              tr
                td Поясница
                td 20
                td 320
                td 390
              tr
                td Грудь
                td 30
                td 320
                td 390
              tr
                td Живот
                td 20
                td 320
                td 390
              tr
                td Спина
                td 20
                td 600
                td 720
          table.price__table#tableIntim(cellspacing="0" cellpadding="0")
            thead
              tr
                th Наименование<br>процедуры
                th Длительность<br>мин.
                th Девушки<br>грн.
                th Мужчины<br>грн.
            tbody
              tr
                td Складка между ягодиц
                td 15
                td 150
                td 180
              tr
                td Лобок
                td 15
                td 200
                td 240
              tr
                td Бикини интимных зон
                td 20
                td 250
                td 300
              tr
                td Бикини по линии белья
                td 30
                td 350
                td 420
              tr
                td Ягодицы
                td 20
                td 350
                td 420
              tr
                td Бикини глубокое
                td 20
                td 600
                td 720
          table.price__table#tableLags(cellspacing="0" cellpadding="0")
            thead
              tr
                th Наименование<br>процедуры
                th Длительность<br>мин.
                th Девушки<br>грн.
                th Мужчины<br>грн.
            tbody
              tr
                td Стопы с пальцами
                td 15
                td 160
                td 200
              tr
                td Бедра половина
                td 15
                td 350
                td 420
              tr
                td Голени
                td 20
                td 550
                td 660
              tr
                td Бедра
                td 30
                td 650
                td 780
              tr
                td Ноги 3000 имп.
                td 20
                td 1200
                td 1440
              tr
                td Ноги +300 имп.
                td 20
                td 150
                td 180
        .price__info-row
          .price__info-icon
            include ../../static/images/svg/info.svg
          span.price__info-text Дополнительные услуги
          .price__hidden
            table.price__hidden-table(cellspacing="0" cellpadding="0")
              tr
                td.buttom-line Наименование
                td.buttom-line Цена<br>грн.
              tr
                td Поимпульсно +1 им.
                td 5
              tr
                td.buttom-line Поимпульсно +10 им.
                td.buttom-line 50
              tr
                td Обезб. любой зоны лица
                td 50
              tr
                td Обезб. бикини/подмышек
                td 100
              tr
                td Обезб. глубокого бикини
                td 150
      .price__present-col
        img(src="./static/images/benefits/present.png", alt="")
        h3.price__present-title Получи <span class="yellow">-50%</span> на первое посещение в подарок!
        .price__present-desc
          p Мы тебя еще не убедили? Тогда мы дарим тебе скидку на первое посещение лазерной эпиляции. Оставь заявку и получи свой подарок без каких-либо обязательств.
        .price__present-btn
          .btn.price__btn
            button.btn__btn#getPresentBtn(type="button") Получить подарок!
            .btn__3d