section.price
  .price__bg

  .container.price__container
    .section-heading.center
      .section-heading__naming Цены на все виды процедур
      h2 <span class="yellow">Почувствуйте</span> выгоду от<br>наших цен на лазерную эпиляцию
      .section-heading__desc
        p Мы стараемся сделать самые доступные цены, чтобы вы не чувствовали<br>разницу между лазерной эпиляцией и посещением фитнеса.
    .price__content
      .price__pricing-col
        .price__tabs
          .price__tab.active
            button.price__tab-btn(type="button", data-part="face") Лицо
          .price__tab
            button.price__tab-btn(type="button", data-part="hands") Руки
          .price__tab
            button.price__tab-btn(type="button", data-part="body") Тело
          .price__tab
            button.price__tab-btn(type="button", data-part="intim") Интим. зоны
          .price__tab
            button.price__tab-btn(type="button", data-part="lags") Ноги
        .price__tables
          table.price__table#tableFace(cellspacing="0" cellpadding="0")
            thead
              tr
                th Наименование процедуры
                th Длительность<br>мин.
                th Девушки<br>грн.
                th Мужчины<br>грн.
            tbody
              tr
                td Виски
                td 15
                td 100
                td 130
              tr
                td Губа верхняя
                td 15
                td 100
                td 130
              tr
                td Виски
                td 20
                td 120
                td 150
              tr
                td Шея спереди
                td 30
                td 160
                td 200
              tr
                td Шея сзади
                td 20
                td 160
                td 200
              tr
                td Подбородок
                td 20
                td 180
                td 130
              tr
                td Лицо полностью
                td 30
                td 400
                td 480
          table.price__table#tableHands(cellspacing="0" cellpadding="0")
            thead
              tr
                th Наименование процедуры
                th Длительность<br>мин.
                th Девушки<br>грн.
                th Мужчины<br>грн.
            tbody
              tr
                td Виски
                td 15
                td 100
                td 130
              tr
                td Губа верхняя
                td 15
                td 100
                td 130
              tr
                td Виски
                td 20
                td 120
                td 150
              tr
                td Шея спереди
                td 30
                td 160
                td 200
              tr
                td Шея сзади
                td 20
                td 160
                td 200
          table.price__table#tableBody(cellspacing="0" cellpadding="0")
            thead
              tr
                th Наименование процедуры
                th Длительность<br>мин.
                th Девушки<br>грн.
                th Мужчины<br>грн.
            tbody
              tr
                td Виски
                td 15
                td 100
                td 130
              tr
                td Губа верхняя
                td 15
                td 100
                td 130
              tr
                td Виски
                td 20
                td 120
                td 150
              tr
                td Шея спереди
                td 30
                td 160
                td 200
              tr
                td Шея сзади
                td 20
                td 160
                td 200
              tr
                td Подбородок
                td 20
                td 180
                td 130
              tr
                td Лицо полностью
                td 30
                td 400
                td 480
          table.price__table#tableIntim(cellspacing="0" cellpadding="0")
            thead
              tr
                th Наименование процедуры
                th Длительность<br>мин.
                th Девушки<br>грн.
                th Мужчины<br>грн.
            tbody
              tr
                td Виски
                td 15
                td 100
                td 130
              tr
                td Губа верхняя
                td 15
                td 100
                td 130
              tr
                td Виски
                td 20
                td 120
                td 150
              tr
                td Шея спереди
                td 30
                td 160
                td 200
              tr
                td Шея сзади
                td 20
                td 160
                td 200
              tr
                td Подбородок
                td 20
                td 180
                td 130
              tr
                td Лицо полностью
                td 30
                td 400
                td 480
          table.price__table#tableLags(cellspacing="0" cellpadding="0")
            thead
              tr
                th Наименование процедуры
                th Длительность<br>мин.
                th Девушки<br>грн.
                th Мужчины<br>грн.
            tbody
              tr
                td Виски
                td 15
                td 100
                td 130
              tr
                td Губа верхняя
                td 15
                td 100
                td 130
              tr
                td Виски
                td 20
                td 120
                td 150
              tr
                td Шея спереди
                td 30
                td 160
                td 200
              tr
                td Шея сзади
                td 20
                td 160
                td 200
              tr
                td Подбородок
                td 20
                td 180
                td 130
              tr
                td Лицо полностью
                td 30
                td 400
                td 480
        .price__info-row
          .price__info-icon
            include ../../static/images/svg/info.svg
          span.price__info-text Дополнительные услуги
      .price__present-col
        img(src="./static/images/benefits/present.png", alt="")
        h3.price__present-title Получи <span class="yellow">-50%</span> на первое посещение в подарок!
        .price__present-desc
          p Мы тебя еще не убедили? Тогда мы дарим тебе скидку на первое посещение лазерной эпиляции. Оставь заявку и получи свой подарок без каких-либо обязательств.
        .price__present-btn
          .btn.price__btn
            button.btn__btn#getPresentBtn(type="button") Получить подарок!
            .btn__3d