section.result
  .result__bg

  .container.result__container
    .result__side
      .section-heading
        .section-heading__naming результаты процедур
        h2 <span class="yellow">Результаты</span> уже после первых процедур
        .section-heading__desc
          p После завершения полного курса процедур эффект будет длиться до <span class="fw600">4-5 лет.</span>
      .result__list-title Что важно знать:
      ul
        li Вы увидите результат уже после первого сеанса, и дальше мы будем только укреплять эффект.
        li Курс состоит из 8 - 10 процедур.
        li Перерыв между процедурами 1.5 - 2 месяца.
        li Для поддержки эффекта рекомендуется посещать процедуры не чаще чем 1 - 2 раза в год.
      .result__btn-row
        .btn.result__btn
          button.btn__btn#resultRequest(type="button") Оставить заявку
          .btn__3d
    .result__side
      .result__ba-wr
        .result__ba-img-wr
          img(src="../../static/images/result/after.png", alt="Before")
          img(src="../../static/images/result/before.png", alt="After")