section.reviews#reviews
  .reviews__top-bg-gradient
  .reviews__bottom-bg

  .container
    .section-heading
      .section-heading__naming Отзывы клиентов
      h2 <span class="yellow">Отзывы</span> наших<br>счастливых клиентов

    .reviews__slider
      .reviews__swiper-container
        .swiper-pagination
        .swiper-wrapper
            .swiper-slide
              .reviews__slide-content
                .reviews__slide-img
                .reviews__slide-in
                  .reviews__slide-title
                    img(src="./static/images/why/heart-eyes.png", alt="")
                    h3 Спасибо за ваш курс!<br>Я очень довольна результатом!1
                  .reviews__slide-text
                    p Я была первый раз, для первого раза как всегда себя накрутила, но все оказалось в обще не страшным, приятный мастер профи своего дела. Я попала на акцию и приятно удивлена что акция до конца курса будет не сменой. Девочки советую этот салон,в нем работают профессионалы своего дела!)1
                  .reviews__comentator
                    .reviews__avatart-wr
                      img(src="./static/images/reviews/girl-avatar.jpg", alt="")
                    .reviews__user-info
                      span Анастасия Иванова1
                      a.reviews__user-insta(href="/")
                        include ../../static/images/svg/Instagram.svg
                        span Инстаграм
            .swiper-slide
              .reviews__slide-content
                .reviews__slide-img
                .reviews__slide-in
                  .reviews__slide-title
                    img(src="./static/images/why/heart-eyes.png", alt="")
                    h3 Спасибо за ваш курс!<br>Я очень довольна результатом!2
                  .reviews__slide-text
                    p Я была первый раз, для первого раза как всегда себя накрутила, но все оказалось в обще не страшным, приятный мастер профи своего дела. Я попала на акцию и приятно удивлена что акция до конца курса будет не сменой. Девочки советую этот салон,в нем работают профессионалы своего дела!)2
                  .reviews__comentator
                    .reviews__avatart-wr
                      img(src="./static/images/reviews/girl-avatar.jpg", alt="")
                    .reviews__user-info
                      span Анастасия Иванова2
                      a.reviews__user-insta(href="/")
                        include ../../static/images/svg/Instagram.svg
                        span Инстаграм
            .swiper-slide
              .reviews__slide-content
                .reviews__slide-img
                .reviews__slide-in
                  .reviews__slide-title
                    img(src="./static/images/why/heart-eyes.png", alt="")
                    h3 Спасибо за ваш курс!<br>Я очень довольна результатом!
                  .reviews__slide-text
                    p Я была первый раз, для первого раза как всегда себя накрутила, но все оказалось в обще не страшным, приятный мастер профи своего дела. Я попала на акцию и приятно удивлена что акция до конца курса будет не сменой. Девочки советую этот салон,в нем работают профессионалы своего дела!)
                  .reviews__comentator
                    .reviews__avatart-wr
                      img(src="./static/images/reviews/girl-avatar.jpg", alt="")
                    .reviews__user-info
                      span Анастасия Иванова
                      a.reviews__user-insta(href="/")
                        include ../../static/images/svg/Instagram.svg
                        span Инстаграм
        .reviews__bt-n
          .reviews__swiper-button-next.swiper-button-next
        .reviews__bt-p
          .reviews__swiper-button-prev.swiper-button-prev