section.why
  .section-heading.center
    .section-heading__naming Почему ёжикофф?
    h2 <span class="yellow">Почему мы</span> не оставим<br>вас равнодушными?

  //- Begin gradient bg
  .why__gradient-bg
  //- End gradient bg

  //- Begin roses bg
  .why__roses-bg
  //- End roses bg

  //- Begin content row
  .why__content-row
    .why__image-wrapper
      .why__image-bg

        //- Begin why item
        article.why__item.result-i
          .why__item-content.text-right
            h3.why__item-title За результат ручаемся!
            .why__item-desc
              p Отпусти ежа на волю вместе с нами.<br>Мы профессионалы, делали это уже<br>сотню раз и всегда успешно!
          .why__item-smile
            img.why__item-img(src="./static/images/why/winking-face.png", alt="Smile winking face")
        //- End why item

        //- Begin why item
        article.why__item.kosmos
          .why__item-content.text-right
            h3.why__item-title Космические технологии
            .why__item-desc
              p Могли бы подумать наши предки. Но мы<br>знаем, что это самые современные и<br>проверенные итальянские разработки. Сила<br>двух лазеров в одном - именно то, что нужно.
          .why__item-smile
            img.why__item-img(src="./static/images/why/female-astronaut.png", alt="Smile female astronaut")
        //- End why item

        //- Begin why item
        article.why__item.sovest
          .why__item-content.text-right
            h3.why__item-title У нас есть совесть!
            .why__item-desc
              p Мы не экономим импульсы, внимательно и<br>тщательно ведем обработку лазером,<br>чтобы не допустить пропусков в зонах<br>эпиляции. Мы заботимся о каждом<br>клиенте, ведь вы этого достойны.
          .why__item-smile
            img.why__item-img(src="./static/images/why/smiling-face-with-halo.png", alt="Smile face with halo")
        //- End why item

        //- Begin why item
        article.why__item.price
          .why__item-smile
            img.why__item-img(src="./static/images/why/Dollar Eyes.png", alt="Dollar Eyes")
          .why__item-content.text-left
            h3.why__item-title Прайс - огонь!
            .why__item-desc
              p Самые низкие цены в Харькове.<br>Зачем переплачивать за бренд?<br>Плати за результат!
        //- End why item

        //- Begin why item
        article.why__item.mother
          .why__item-smile
            img.why__item-img(src="./static/images/why/heart-eyes.png", alt="Heart eyes")
          .why__item-content.text-left
            h3.why__item-title Мама сервис
            .why__item-desc
              p Мы заботливее чем твоя мама, и шапку носить<br>не заставляем. Всегда на связи, консультируем,<br>чаем и кофе угощаем, и конечно поболтаем.
        //- End why item

        //- Begin why item
        article.why__item.kungh-fu
          .why__item-smile
            img.why__item-img(src="./static/images/why/right-facing.png", alt="Right facing")
          .why__item-content.text-left
            h3.why__item-title Наши мастера кунг-фу
            .why__item-desc
              p Не знают, но лазерную эпиляцию делают на<br>высшем уровне. Мы - сертифицированные<br>специалисты, профи по освобождению от<br>ежей быстро, безопасно и безболезненно.
        //- End why item

      img.why__image(src="./static/images/why/shock-girl.png", alt="Почему ёжикофф?")
  //- End content row

  //- Begin btn row
  .why__btn-row
    .btn.why__btn
      button.btn__btn#whyRequest(type="button") Оставить заявку
      .btn__3d
  //- End btn row