@import "buttons/buttons";
@import "footer/footer";
@import "header/header";
@import "navigation/navigation";
@import "small-blocks/small-blocks";
@import "container/container";
@import "logo/logo.scss";
@import "circle-icon/circle-icon.scss";
@import "modals/modals.scss";
@import "inputs/inputs.scss";
@import "why/why.scss";
@import "free/free.scss";
@import "result/result.scss";
@import "price/price.scss";
@import "actions/actions.scss";
@import "reviews/reviews.scss";
@import "faq/faq.scss";
@import "questions/questions.scss";
@import "map/map.scss";

@media screen and (max-width: 1530px) {
  .section-heading {
    h1, h2 {
      font-size: 43px;
    }
  }

  @import "container/media/container-to-1200.scss";
  @import "header/header-to-1200.scss";
  @import "footer/footer-to-1200.scss";
  @import "why/why-to-1200.scss";
  @import "free/free-to-1200.scss";
  @import "reviews/reviews-to-1200.scss";
  @import "questions/questions-to-1200.scss";
  @import "actions/actions-to-1200.scss";
}

@media screen and (min-width: 1024px) and (max-height: 850px) {
  .header {
    height: 900px;
  }

  .modal-nav {
    padding-top: 140px;
  }
}

@media screen and (max-width: 1199px) {
  @import "container/media/container-to-992.scss";
  @import "header/header-to-992.scss";
  @import "why/why-to-992.scss";
  @import "free/free-to-992.scss";
  @import "reviews/reviews-to-992.scss";
  @import "actions/actions-to-992.scss";
}

@media screen and (max-width: 991px) {
  @import "container/media/container-to-768.scss";
  @import "header/header-to-768.scss";
  @import "free/free-to-768.scss";
  @import "result/result-to-768.scss";
  @import "price/price-to-768.scss";
  @import "reviews/reviews-to-768.scss";
  @import "faq/faq-to-768.scss";
  @import "questions/questions-to-768.scss";
  @import "footer/footer-to-768.scss";
  @import "actions/actions-to-768.scss";
}

@media screen and (max-width: 767px) {
  .section-heading h1, .section-heading h2 {
    font-size: 36px;
    line-height: 48px;
  }

  @import "header/header-to-320.scss";
  @import "why/why-to-320.scss";
  @import "free/free-to-320.scss";
  @import "result/result-to-320.scss";
  @import "price/price-to-320.scss";
  @import "actions/actions-to-320.scss";
  @import "reviews/reviews-to-320.scss";
  @import "faq/faq-to-320.scss";
  @import "questions/questions-to-320.scss";
  @import "footer/footer-to-320.scss";

  .modal-request__communications {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-request__close {
    left: calc(100% - 40px);
    top: 0px;
  }

  .modal-request.policy {
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: scroll;
  }

  .modal-request.policy .modal-request__in {
    width: 100%;
    transform: translate(0,0);
    left: 0;
    top: 0;
  }
}