.actions {
  .swiper-button-prev, .swiper-button-next {
    // top: 420px;
  }

  // .swiper-button-next {
  //   left: 50%;
  //   right: auto;
  //   transform: translateX(calc(-50% + 40px));
  // }

  // .swiper-button-prev {
  //   left: 50%;
  //   right: auto;
  //   transform: translateX(calc(-50% - 40px));
  // }

  .actions__sw-p, .actions__sw-n {
    bottom: -440px;
    z-index: 2;
  }

  .actions__sw-p {
    left: 50%;
    right: auto;
    transform: translateX(calc(-50% - 30px));
  }

  .actions__sw-n {
    left: 50%;
    right: auto;
    transform: translateX(calc(-50% + 30px));
  }

  // .swiper-slide {
  //   max-width: 100% !important;
  // }

  &__slider {
    margin-left: auto;
    margin: auto;
    width: calc(100% - 30px);
    margin-top: 50px; 
  }
  
  &__swipe-right {
    display: flex;
    align-items: center;
    font-size: 14px;
    position: absolute;
    top: 190px;
    right: 20px;

    svg {
      height: 10px;
      margin-left: 5px;

      path {
        fill: $dark;
      }
    }
  }

  &__slide-img {
    height: auto;
    object-fit: none;
    width: 100%;
    border-radius: 10px;
  }

  &__slide-img-wr {
    height: auto;
  }

  &__bg {
    background: 50% 50%/contain no-repeat url('../images/actions/Bg-sale.png');
  }

  .section-heading {
    z-index: z('content');
    position: relative;
  }
}

.actions__slide-before-date {
  position: absolute;
  left: -30px;
  top: 0;
  height: calc(100% + 36px);
  width: 125%;
  background: -33px -21px/124% auto no-repeat url(../images/actions/Date-new-2.svg);
  z-index: -1;
}