extends template/main

block variables
	- var title = 'Твоё идеально гладкое тело по лучшей цене в городе!'

block content
	include ./modules/why
	include ./modules/free
	include ./modules/result
	include ./modules/price