// Colors
$white: #ffffff;
$black: #000000;
$dark: rgba(48, 48, 48, 1);
$mikadoYellow: rgba(252, 191, 18, 1);
$oldLace: rgba(255, 245, 230, 1);
$coralPink: rgba(255, 126, 126, 1);
$davyGray: rgba(82, 82, 82, 1);

// Sizes
$base-font-size: 16px;

// Fonts
$font: 'exo';