.price {
  &__tables {
    width: 100%;
    overflow-x: scroll;
    height: 485px;

    tr th {
      min-width: 180px;

      &:first-child {
        text-align: center;
      }
    }
  }

  &__pricing-col {
    padding: 0 5px;
    overflow: hidden;
  }

  &__btn {
    width: 250px;
  }

  &__present-col {
    padding: 30px;
    margin-top: 30px;
    
    img {
      width: 250px;
    }
  }

  .section-heading__naming {
    text-align: left;
  }

  &__bg {
    background: 50% 50%/contain no-repeat url('../images/benefits/Bg-price.png');
  }
}