.reviews {
  &__slide-content {
    width: 700px;
  }

  &__slide-img {
    height: 470px;

    &:after {
      left: -140px;
      top: -80px;
    }
  }

  .swiper-pagination {
    right: 140px;
  }

  &__bt-n {
    right: 160px;
  }

  &__bt-p {
    right: 220px;
  }

  &__swiper-container:after {
    left: -70px;
    top: -180px;
  }

  &__slider:before {
    left: 220px;
    top: 150px;
  }
}