.reviews {
  &__slide-img {
    display: none;
  }

  .swiper-button-prev, .swiper-button-next {
    bottom: -70px;
  }

  .swiper-button-next {
    right: auto;
    left: 50%;
    transform: translateX(calc(-50% ));
  }

  .swiper-button-prev {
    right: auto;
    left: 50%;
    transform: translateX(calc(-50%));
  }

  &__slide-in {
    padding: 50px;
  }

  .section-heading {
    padding-left: 0;
  }

  .swiper-pagination {
    right: 20px;
  }

  &__bt-n {
    right: 60px;
  }

  &__bt-p {
    right: 120px;
  }

  &__slider {
    &:before {
      left: -10px;
      top: 150px;
      width: 70px;
      height: 110px;
    }
  }
}