footer.footer
  .container
    .footer__row
      .footer__logo
        .footer__logo-img.logo(href="/")
          img.logo__img(src="./static/images/logo.svg", alt="Клуб лазерной эпиляции")
        .footer__logo-text Клуб<br>лазерной<br>эпиляции
      .footer__social
        .social
          .social__title
            span Подписывайтесь на наши соц. сети
            .row.social__row
              .social__item
                a.social__link(href="https://www.instagram.com/yozhikoff_club/")
                  include ../../../static/images/svg/Instagram.svg
              .social__item
                a.social__link(href="https://www.facebook.com/Yozhikoff/")
                  include ../../../static/images/svg/Facebook.svg
      .footer__contacts
        .footer__call
          .footer__call-icon
            img.contact-img(src="./static/images/svg/phone.svg", alt="Phone item")
          .footer__call-content
            .footer__call-row
              a.header__phone-link(href="tel://+380996277446") +38 (099) 627 74 46
            .footer__call-row
              a(href="tel://+380996277446") Телефон
              a(href="https://mssg.me/r/m/5dcb25c636f8f6001380c6c0") Viber
              a(href="https://mssg.me/r/m/5dcb25662f642c00844981ac") Telegram
        .footer__btn-wr
          .btn.footer__btn
            button.btn__btn#freeAdmissionBtn3(type="button") позвоните мне
            .btn__3d
    .footer__row
      a.footer__privacy-police#policyBtn(href='/') Политика конфиденциальности
      span Упаковка и разработка: 
        a.footer__privacy-police(href="https://www.instagram.com/bebrand_agency/") Bebrand
      span Все права защищены (с) 2019-2020